### test configuration

log_path: "ha.log"
path: test/
switches:
  "123":
    on_time: "16:00"
    off_time: "22:00"
    nightly: false
  "456":
    on_time: "18:00"
    off_time: "23:55"
    nightly: true
